p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 18em;
}

h2 {
    font-weight: 600;
    font-size: 6.3em;
}

h3 {
    font-weight: 600;
    font-size: 2.1em;
}

h5 {
    font-weight: 600;
    font-size: 1.2em;
}

h6 {
    font-weight: 500;
    font-size: 1.2em;
}

p {
    font-weight: 400;
    font-size: 1.2em;
    line-height: 2;
}

a {
    text-decoration: none;
    color: inherit;
}

::selection {
    background: #ffcc00;
    color: white;
}

span {
    font-size: 6vw;
    font-weight: 600;
    line-height: 1.1;
}

nav {
    z-index: 100;
    background-color: #fafafa;
    display: none;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}

.title {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.title p {
    transition: all 0.75s cubic-bezier(.19,1,.22,1);
}

.title p:hover {
    padding-top: 25px;
}

.title h1 {
    line-height: 2em;
}

.header {
    margin: 3vw 0;
    width: 75%;
}

.main {
    width: 100%;
}

section {
    width: 100%;
}

.background1,
.background2 {
    display: flex;
    width: 100%;
    height: 50vw;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    align-items: center;
}

.content img {
    width: 30vw;
}

.main-text {
    display: flex;
    flex-direction: column;
}

.main-text p {
    color: white;
    width: 35vw;
}

.link {
    display: flex;
    flex-direction: row;
    color: #ffcc00;
    align-items: center;
    margin-top: 40px;
    transition: all 0.75s cubic-bezier(.19,1,.22,1);
}

.link img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.link:hover {
    padding-left: 25px;
    opacity: 0.75;
}

#text {
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: center;
}

.center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.type span {
    font-size: 4vw;
}

.type p {
    width: 35vw;
}

#text img {
    width: 25vw;
}

.components {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    align-items: flex-start;
}

.sidebar h6 {
    margin-bottom: 1.5em;
}

button {
    display: flex;
    flex-direction: row;
    width: 300px;
    padding: 15px 15px;
    border-radius: 20px;
    margin: 10px 0px;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    border: none;
    outline: none;
    background-color: #fafafa;
    cursor: pointer;
}

button.selected {
    background-color: #ffcc00;
    color: white;
}

button.selected:hover {
    background-color: #ffcc00;
}

button.selected p {
    opacity: 1;
}

button img {
    width: 50px;
    margin-right: 10px;
}

.button-text {
    display: flex;
    flex-direction: column;
    height: 45px;
    justify-content: space-between;
    text-align: initial;
}

.button-text p {
    opacity: 0.25;
    margin-bottom: 0;
    line-height: 1em;
}

.button-text h5 {
    opacity: 1;
}

button:hover {
    background-color: #f0f0f0;
}

.expand {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.expand .main-image {
    display: flex;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin: 25px 0px;
    height: 450px;
    width: 700px;
    align-items: center;
    justify-content: center;
}

.expand img {
    width: 20%;
}

@media only screen and (max-width: 1250px) {
    span {
        line-height: 1;
    }

    .header {
        width: 90%;
    }

    .components {
        width: 850px;
    }

    .expand {
        width: 500px;
    }

    .expand img {
        width: 35%;
    }

    .expand .main-image {
        width: 500px;
    }
}

@media only screen and (max-width: 1180px) {
    h1 {
        font-size: 27vw;
    }

    p {
        line-height: 2;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 85%;
    }

    .background1,
    .background2,
    #text {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .center {
        flex-direction: column;
    }

    .type {
        display: flex;
        justify-content: center;
    }

    .type span {
        font-size: 2em;
    }

    .type p {
        width: 90%;
    }
    
    #text img {
        width: 75%;
    }

    .content {
        margin: 10vw 0;
    }

    .content img {
        width: 100%;
    }

    .main-text {
        margin: 5vw 0vw;
    }

    .main-text p {
        width: 100%;
    }

    .link img {
        display: none;
    }
}

@media only screen and (max-width: 940px) {
    h3 {
        font-size: 1.5em;
    }

    span {
        font-size: 2.7em;
    }

    .header,
    .components {
        width: 90%;
    }

    .sidebar {
        display: none;
    }

    .expand,
    .expand .main-image {
        width: 100%;
    }
}

@media only screen and (max-width: 320px) {
    h5,
    p {
        font-size: 5.1vw;
    }

    h3 {
        font-size: 7.3vw;
    }

    .expand .main-image {
        margin: 5vw 0;
    }
}