p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 18em;
}

h2 {
    font-weight: 600;
    font-size: 6.3em;
}

h3 {
    font-weight: 600;
    font-size: 2.1em;
}

h5 {
    font-weight: 600;
    font-size: 1.2em;
}

h6 {
    font-weight: 500;
    font-size: 1.2em;
}

p {
    font-weight: 400;
    font-size: 1.2em;
    line-height: 2;
}

a {
    text-decoration: none;
    color: inherit;
}

::selection {
    background: #ffcc00;
    color: white;
}

span {
    font-size: 5em;
    font-weight: 600;
    line-height: 1.1;
}

nav {
    z-index: 100;
    background-color: #fafafa;
    display: none;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}

.title {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.title p {
    transition: all 0.75s cubic-bezier(.19,1,.22,1);
}

.title p:hover {
    padding-top: 25px;
}

.title h1 {
    line-height: 2em;
}

.header {
    margin: 3vw 0;
    width: 1300px;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

section {
    display: flex;
    width: 100%;
    height: 800px;
    align-items: center;
    justify-content: center;
}

.home {
    background-color: #000;
}

.blank {
    background-color: #fafafa;
    height: 650px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 1300px;
    justify-content: space-between;
    align-items: center;
}

.container img {
    width: 500px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: initial;
}

.text p {
    color: #fff;
    width: 600px;
}

.blank .text p {
    color: #000;
    width: 650px;
}

.blank img {
    width: 430px;
}

.link {
    display: flex;
    flex-direction: row;
    color: #ffcc00;
    align-items: center;
    margin-top: 35px;
    transition: all 0.75s cubic-bezier(.19,1,.22,1);
}

.components {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    align-items: flex-start;
}

.sidebar h6 {
    margin-bottom: 1.5em;
}

button {
    display: flex;
    flex-direction: row;
    width: 300px;
    padding: 15px 15px;
    border-radius: 20px;
    margin: 10px 0px;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    border: none;
    outline: none;
    background-color: #fafafa;
    cursor: pointer;
}

button.selected {
    background-color: #ffcc00;
    color: white;
}

button.selected:hover {
    background-color: #ffcc00;
}

button.selected p {
    opacity: 1;
}

button img {
    width: 50px;
    margin-right: 10px;
}

.button-text {
    display: flex;
    flex-direction: column;
    height: 45px;
    justify-content: space-between;
    text-align: initial;
}

.button-text p {
    opacity: 0.25;
    margin-bottom: 0;
    line-height: 1em;
}

.button-text h5 {
    opacity: 1;
}

button:hover {
    background-color: #f0f0f0;
}

.expand {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.expand .main-image {
    display: flex;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin: 25px 0px;
    height: 450px;
    width: 700px;
    align-items: center;
    justify-content: center;
}

.expand img {
    width: 20%;
}

@media only screen and (max-width: 1380px) {
    h1 {
        font-size: 13em;
    }

    span {
        font-size: 3em;
    }

    .header {
        width: 900px;
    }

    .container {
        width: 900px;
    }

    .container img {
        width: 400px;
    }

    .blank img {
        width: 330px;
    }

    .blank .text p {
        width: 400px;
    }

    .text p {
        width: 400px;
    }
}

@media only screen and (max-width: 950px) {
    h1 {
        font-size: 22vw;
    }

    p {
        line-height: 1.6;
    }

    .title p {
        font-size: 3vw;
    }

    .header {
        width: 85vw;
    }

    .home {
        height: 100%;
    }

    .blank {
        height: 100%;
    }

    .container {
        flex-direction: column;
        width: 85vw;
    }

    .container img {
        width: 100%;
        margin: 10vw 0;
    }

    .blank img {
        width: 100%;
        margin: 10vw 0;
    }

    .text p {
        width: 100%;
    }

    .blank .text p {
        width: 100%;
    }


    .link {
        margin: 35px 0;
    }
}

@media only screen and (max-width: 370px) {
    h5 {
        font-size: 4vw;
    }

    p {
        font-size: 4vw;
    }

}

